*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #c8cbc4;
}
.LG-01{
    background-color: #f6f2e8;
    width : 50vh;
    height: 50vh;
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.input [type=text]{
    justify-content: center;
    display: flex;
    
}